<div class="table">

 <table>
 	<thead>
 		<tr>
		 	<th>Name</th>
		 	<th>About</th>
 		</tr>
 	</thead>
 <tbody>
 <% @categories.each do |c| %>
 	<tr>
	 	<td><%= c.name %></td>
	 	<td><%= c.about %></td>
	 	<td><%#= link_to 'Show', category %></td>
        <td><%#= link_to 'Edit', edit_category_path(category) %></td>
        <td><%#= link_to 'Destroy', categories, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 	</tr>
 <%end%>
 </tbody>
</table>
</div>
