<table id="table" class="table table-bordered table-stripped">
	<thead>
		<tr>
			<th>Projects</th>
			<th>Username</th>
			<th>Category Name</th>
		</tr>
	</thead>
	<%= @products.each do |p|%>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>